<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .footer {
            width: 100%;
            height: 50px;
            background-color: aqua;
        }
        .footer p {
            text-align: center;
            height: 50px;
        }
    </style>
</head>
<body>
    <footer class="footer">
        <p>This is my Home Page creating using HTML.</p>
    </footer>    
</body>
</html>