<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Hello Welcome to my channel</h1>
    {{>footer}}
</body>
</html>